Language: Cpp

BasedOnStyle: WebKit
ColumnLimit: 140
SortIncludes: false

IndentWidth: 4
TabWidth: 4

AlignConsecutiveAssignments:
  Enabled: false
  AcrossEmptyLines: true
  AcrossComments: false

BreakBeforeBraces: Allman
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

UseTab: Never

NamespaceIndentation: None
FixNamespaceComments: true
CompactNamespaces: false

AlignTrailingComments: true
AlignAfterOpenBracket: true
AlignConsecutiveMacros: true
AlignEscapedNewlines: Left
AlignOperands: AlignAfterOperator

AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never

Cpp11BracedListStyle: false

AlwaysBreakTemplateDeclarations: true
BreakStringLiterals: true
ReflowComments: true

InsertNewlineAtEOF: true
